@import 'variables';
body{
    font-family: 'Karla';
}
.App{
    background-color: $bodyColor;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.25em;
}
.main{
    height: 400px;
    max-width:800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryWhite;
    border-radius: 10px;
}