$bodyColor: #0b2434;
$primaryWhite: #f5f5f5;
$accentColor: rgba(89, 227, 145, 1);
$btnColor:  rgba(80, 53, 255, 1);
$textColor:  rgba(74, 78, 116, 1);

@font-face {
    font-family: 'Karla';
    src: url(../fonts/Karla.ttf);
}

